{% load static %}
   
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
  <div class="container-fluid py-1 px-3">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
<!--        <div class="input-group">-->
<!--          <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>-->
<!--          <input type="text" class="form-control bg-white" placeholder="Tìm kiếm...">-->
<!--        </div>-->
      </div>
      <ul class="navbar-nav  justify-content-end">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'admin:password_change' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-key me-sm-1"></i>
                <span class="d-sm-inline d-none me-3">Đổi Mật Khẩu</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'core:logout' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none">Đăng Xuất</span>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
          {% else %}
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'core:logout' %}" class="nav-link text-white font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none me-3">Đăng Xuất</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'admin:password_change' %}" class="nav-link text-white font-weight-bold px-0">
                <span class="d-sm-inline d-none">Đổi mật khẩu</span>
              </a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->